<% 
let package = require('../package.json'),
    keywords = package.keywords.join(','),
    fa = require('../js/font-awesome'),
    nextBtn = require('../js/next-btn').default,
    args = Object.assign({}, fa, { nextBtn });
%>
<html>
<head>
    <%= require('./head-meta.ejs')() %>
    <title><%- PAGE_TITLE %></title>
    <style type="text/css">
        <%- fa.css() %>
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body data-spy="scroll" data-target="#navbar-wrapper">
    <div class="overlay"></div>
    <%= require('./jumbotron.ejs')({ SUB_TITLE }) %>
    <div class="content container-fluid d-flex flex-column flex-md-row-reverse pl-lg-4">
        <%= require('../js/navbar-renderer').default(PATH) %>
        <div class="d-flex flex-column md-content">
            <%= require('../docs/' + MD)(args) %>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/dos.min.js" integrity="sha256-OuB37kcDbrBUDPztYhGMQaxM7zVP/wkW95uklhZCkqE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/lua.min.js" integrity="sha256-K92Gf25zBrh58ZlALdvZik/93u+SkrkukisdjQ0uLkg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>