<div id="navbar-wrapper" class="d-block pb-md-0 px-0 pl-md-3">
	<nav id="nav" class="navbar navbar-expand-md navbar-light bg-light align-self-start justify-content-between align-content-start px-2 flex-md-wrap mb-0">
		<a class="navbar-brand d-md-none" href="/introduction/#">Pokémon Soul.Link</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-div" aria-controls="nav-div" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="nav-div" class="collapse navbar-collapse">
		<div id="nav-items" class="navbar-nav flex-column justify-content-start py-1">
			<ul>
				<li>
					<a class="navbar-brand" href="/">Pokémon Soul.Link</a>
				</li>
				<li>
					<a href="/introduction/#">Introduction</a>
					<ul>
						<li>
							<a href="/introduction/#what-is-it">What is it?</a>
						</li>
						<li>
							<a href="/introduction/#features">Features</a>
							<ul>
								<li>
									<a href="/introduction/#party-display">Party Display</a>
								</li>
								<li>
									<a href="/introduction/#dashboard">Dashboard</a>
									<ul>
										<li>
											<a href="/introduction/#nuzlocke">Nuzlocke</a>
										</li>
										<li>
											<a href="/introduction/#soullink">SoulLink</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="/introduction/#multiple-configurations">Multiple Configurations</a>
								</li>
							</ul>
						</li>
						<!--
							<li>
								<a href="/screenshots/#">Screenshots & Videos</a>
							</li>
						-->
						<li>
							<a href="/introduction/#supported-games">Supported Games</a>
						</li>
						<li>
							<a class="text-me" href="/introduction/#contact">
								<%= fab('fa-discord') %>
								Contact
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/setup/#">Setup</a>
					<ul>
						<li>
							<a href="/setup/tutorials/#">Tutorial Videos</a>
						</li>
						<li>
							<a href="/setup/#installation">Installation</a>
							<ul>
								<li>
									<a href="/setup/#requirements">Requirements</a>
								</li>
								<li>
									<a href="/setup/#set-up-the-emulator" data-easter-egg-text="Set Up Us the Bomb">Set Up the Emulator</a>
								</li>
								<li>
									<a href="/setup/#download-the-repository">Download Pokemon Soul.Link</a>
								</li>
								<li>
									<a href="/setup/#pokemon-images">Pokémon Images</a>
								</li>
								<li>
									<a href="/setup/#install-dependencies">Install Dependencies</a>
								</li>
								<li>
									<a href="/setup/#how-to-update-to-the-latest-version">How to Update the Tool</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/setup/build/#">Build</a>
						</li>
						<li>
							<a href="/setup/configuration/#">Configure</a>
							<ul>
								<li>
									<a href="/setup/configuration/#the-configjson-file">The config.json file</a>
								</li>
								<li>
									<a href="/setup/configuration/#layout">Layout</a>
								</li>
								<li>
									<a href="/setup/configuration/#nuzlocke-config">Nuzlocke</a>
								</li>
								<li>
									<a href="/setup/configuration/soullink/#">SoulLink</a>
								</li>
								<ul>
									<li>
										<a href="/setup/configuration/soullink/#manual-linking">Manual</a>
									</li>
									<li>
										<a href="/setup/configuration/soullink/#discord-linking">Discord</a>
										<ul>
											<li>
												<a href="/setup/configuration/soullink/#setting-the-bottoken-and-partnerbottag">
												Creating a Bot
												</a>
												<a href="/setup/configuration/soullink/#setting-up-the-discord-channel">
												Set up Discord Channel
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<li>
									<a href="/setup/configuration/styling/#">Styling</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="/usage/#">Using Pokémon Soul.Link</a>
				</li>
				<li>
					<a href="/credits/#">Credits</a>
					<ul>
						<li>
							<a href="/credits/#failstream">
								<%= fab('fa-twitch') %>
								Failstream
							</a>
						</li>
						<li>
							<a href="/credits/#everoddish">
								<%= fab('fa-github-square') %>
								EverOddish
							</a>
						</li>
						<li>
							<a href="/credits/#iipk">
								<%= fab('fa-twitch') %>
								iIPK
							</a>
						</li>
						<li>
							<a href="/credits/#resources">Resources</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/roadmap/#">
						Roadmap
					</a>
				</li>
				<li>
					<a href="https://github.com/dfoverdx/PokeStreamer-Tools">
						<%= fab('fa-github-square') %>
						Source Code
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
</div>