<div class="card card-light next-btn mt-3">
    <div class="card-body d-sm-flex flex-row">
        <span class="d-block d-sm-inline-block my-auto mr-2 align-self-start"><%= prefix %></span>
        <a class="btn btn-me d-none d-sm-inline-block ml-auto w-50 align-self-center" href="<%- href %>"><%= btn %></a>
        <a class="btn btn-me d-sm-none d-block w-100 mt-2" href="<%- href %>"><%= btn %></a>
    </div>
</div>